In [1]:
## importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
## loading file
data = pd.read_csv("Admission_Prediction.csv")
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [3]:
## preprocessing of the data

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          485 non-null    float64
 2   TOEFL Score        490 non-null    float64
 3   University Rating  485 non-null    float64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(7), int64(2)
memory usage: 35.3 KB

In [4]:
## filling missing values

data.isnull().sum()

Serial No.            0
GRE Score            15
TOEFL Score          10
University Rating    15
SOP                   0
LOR                   0
CGPA                  0
Research              0
Chance of Admit       0
dtype: int64

In [5]:
data = data.fillna(method = 'ffill')

In [6]:
data.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [7]:
## Creating training and testing data

from sklearn.model_selection import train_test_split


X = data.iloc[:, :-1]
y = data.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.20, shuffle=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((400, 8), (100, 8), (400,), (100,))

## Linear Regression

In [8]:
from LinearRegression import LinearRegression

In [134]:
lr = LinearRegression(lr = 0.00000999999, n_iters=15)

In [135]:
lr.fit(X_train, y_train)

(5.747328076418601e-06,
 array([1.29158056e-04, 1.99075637e-03, 7.12620563e-04, 3.40644394e-05,
        3.31455509e-05, 3.20156370e-05, 5.96251175e-05, 8.36652418e-06]))

In [136]:
pred = lr.predict(X_test)

In [137]:
## mean squared error
mse = np.sum((pred - y_test)**2)

In [138]:
mse

1.0181058223151571

In [8]:
# ## initiating the linear regression function

# def fit(X,y, n_iters, lr):
#     # add bias term to X
#     bias = 0
#     # initiate all coefficients with zero
#     coef_ = np.zeros((X.shape[1],))
# #     print(coef_)
#     for _ in range(n_iters):
#         y_pred = np.dot(X, coef_)
# #         print(y_pred)
#         residuals = y_pred - np.array(y).reshape(-1,)
# #         print(residuals)
#         # gradient = dw(for weight), db(for bias)
#         dw = (1/X.shape[0]) * np.dot(X.T, residuals)
#         db = (1/X.shape[0]) * np.sum(residuals)
#         # update coefficient 
#         coef_ -= (lr * dw)
#         # update bias
#         bias -= (lr * db)
#     print("bias:", bias)
#     print("coefficent:", coef_)
    
# ## predicting function
# def predict(X, coef_, bias):
#     y_pred = np.dot(X, coef_) + bias
#     return y_pred